@import "../../styles/colors";
.Head {
  font-family: $primary-font-family;
  //height: 100px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 10%;

  a {
    position: relative;
    left: 5%;
    color: $primary-color-text;
    padding: 0 1em ;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    height: 100%;
    line-height: 400%;
    letter-spacing: 1.5px;
  }

  a:hover{
    background-color: rgba(0, 0, 0, 0.6);
  }
}

