@import "../../styles/colors";
.Head {
  //height: 100px;
  background-color: $primary-color;
  display: flex;
  min-height: 5%;
  justify-content: center;
  
  a {
    color: $primary-text-color;
  }
}